<div class="inner-hero">
    <div class="content-wrapper w-container">
      <h1 class="h1-white">Order Confirmed!<br /></h1>
    </div>
  </div>
  <div class="content-section gray">
    <div class="content-wrapper w-container">
      <div
        data-node-type="commerce-order-confirmation-wrapper"
      
        data-wf-page-link-href-prefix=""
        class="w-commerce-commerceorderconfirmationcontainer order-confirmation-container"
      >
        <div class="w-commerce-commerceorderconfirmation">
          <div class="w-commerce-commerceorderconfirmationheaderwrapper">
            <div
              class="w-commerce-commercecheckoutcustomerinfosummarywrapper"
            >
              <div class="w-commerce-commercecheckoutsummaryblockheader">
                <h4>Customer Information</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutsummarylabel"
                      >Email</label
                    >
                    <div
                    ></div>
                  </div>
                  <div
                     class="w-commerce-commercecheckoutcolumn"
                  >
                    <label class="w-commerce-commercecheckoutsummarylabel"
                      >Shipping Address</label
                    >
                    <div
                    ></div>
                    <div
                  ></div>
                    <div
                    ></div>
                    <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                    </div>
                    <div
                  ></div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutshippingsummarywrapper">
              <div class="w-commerce-commercecheckoutsummaryblockheader">
                <h4>Shipping Method</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div
                    ></div>
                    <div
                    ></div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutpaymentsummarywrapper">
              <div class="w-commerce-commercecheckoutsummaryblockheader">
                <h4>Payment Info</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutsummarylabel"
                      >Payment Info</label
                    >
                    <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                    </div>
                    <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                      <div
                           ></div>
                      <div
                        >
                        /
                      </div>
                      <div
                          ></div>
                    </div>
                  </div>
                  <div class="w-commerce-commercecheckoutcolumn">
                    <label class="w-commerce-commercecheckoutsummarylabel"
                      >Billing Address</label
                    >
                    <div
                     ></div>
                    <div
                     ></div>
                    <div
                      ></div>
                    <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                      <div
                        class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                      <div
                       class="w-commerce-commercecheckoutsummarytextspacingondiv"
                      ></div>
                    </div>
                    <div
                    ></div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutorderitemswrapper">
              <div class="w-commerce-commercecheckoutsummaryblockheader">
                <h4>Items in Order</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent">
                <script
                  type="text/x-wf-template"
                  id="wf-template-5bd8adf923983b1c4649ca0f000000000052"
                >
                 </script>
                <div
                  role="list"
                  class="w-commerce-commercecheckoutorderitemslist"
                   
                >
                  <div
                    role="listitem"
                    class="w-commerce-commercecheckoutorderitem"
                  >
                    <img
                  src=""
                      alt=""
                      class="w-commerce-commercecartitemimage product-image w-dyn-bind-empty"
                    />
                    <div
                      class="w-commerce-commercecheckoutorderitemdescriptionwrapper"
                    >
                      <div
                     class="w-commerce-commerceboldtextblock w-dyn-bind-empty"
                      ></div>
                      <div
                        class="w-commerce-commercecheckoutorderitemquantitywrapper"
                      >
                        <div class="small-text-2">Quantity:</div>
                        <div
                       class="small-text-2"
                        >
                          1
                        </div>
                      </div>
                      <script
                        type="text/x-wf-template"
                        id="wf-template-29ab435f-8d3f-4a66-856c-4fa3799c64b4"
                      >
                                                </script>
                      <ul
                        class="w-commerce-commercecheckoutorderitemoptionlist"
                        
                      >
                        <li>
                          <span
                      ></span
                          ><span
                    ></span>
                        </li>
                      </ul>
                    </div>
                    <div
                    class="price"
                    >
                      $0.00
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutordersummarywrapper">
              <div class="w-commerce-commercecheckoutsummaryblockheader">
                <h4>Order Summary</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent">
                <div class="w-commerce-commercecheckoutsummarylineitem">
                  <div>Subtotal</div>
                  <div
                 class="price"
                  ></div>
                </div>
                <script
                  type="text/x-wf-template"
                  id="wf-template-5bd8adf923983b1c4649ca0f000000000065"
                >
                 </script>
                <div
                  class="w-commerce-commercecheckoutordersummaryextraitemslist"
                  data-wf-collection="database.commerceOrder.extraItems"
                  data-wf-template-id="wf-template-5bd8adf923983b1c4649ca0f000000000065"
                >
                  <div
                    class="w-commerce-commercecheckoutordersummaryextraitemslistitem"
                  >
                    <div
                     class="w-dyn-bind-empty"
                    ></div>
                    <div
                    class="price"
                    >
                      $0.00
                    </div>
                  </div>
                </div>
                <div class="w-commerce-commercecheckoutsummarylineitem">
                  <div>Total</div>
                  <div
                  class="w-commerce-commercecheckoutsummarytotal price"
                  ></div>
                </div>
              </fieldset>
            </div>
            <div routerLink="dashboard" class="button"><a routerLink="dashboard">Continue Shopping</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>