<div id="main">
    <div class="l-form">
        <div class="shape1"></div>
        <div class="shape2"></div>

        <div class="form">
            <img src="../../../assets/authentication.svg" alt="" class="form__img">

            <form class="form__content">
                <h1 class="form__title">Welcome here!</h1>

                <div class="form__div form__div-one">
                    <div class="form__icon">
                        <i class='bx bx-user-circle'></i>
                    </div>

                    <div class="form__div-input">
                        <label for="" class="form__label">User Email</label>
                        <input #formInput type="text" class="form__input" (focus)="addFocus(formInput)" (blur)="removeFocus(formInput)">
                    </div>
                </div>

                <div class="form__div">
                    <div class="form__icon">
                        <i class='bx bx-lock'></i>
                    </div>

                    <div class="form__div-input">
                        <label for="" class="form__label">Password</label>
                        <input #passwordInput type="password" class="form__input" (focus)="addFocus(passwordInput)" (blur)="removeFocus(passwordInput)">
                    </div>
                </div>

               
                <button class="form__button" (click)="login(formInput.value, passwordInput.value)">Login</button>
<!-- login.component.html -->
<div *ngIf="error" style="display: flex; align-items: center; background-color: #ffebee; border: 1px solid #c62828; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
    <span style="color: #c62828; font-size: 24px; margin-right: 10px;">!</span>
    <span style="color: #c62828; font-size: 16px;">{{ error }}</span>
</div>
                <div class="form__social">
                    <label for="" class="">Don't have account?</label>
                    <a routerLink="../signup" class="" style="background-color:rgba(10, 10, 48, 0.963);padding:8px;border-radius:20px;padding: 10px;font-size: 20px;">Sing up</a>
                    
                </div>

            </form>
           
            
        </div>
    </div>
</div>
