<main class="main">
  
  <div>
  
  <div *ngIf="!isLoginPage() && !issignupPage()" data-collapse="medium" data-animation="default" data-duration="400" id="Top" data-easing="ease"
  data-easing2="ease" role="banner" class="navbar-2 w-nav">
  <div class="content-wrapper w-container">
    <a routerLink="dashboard" aria-current="page" class="brand w-nav-brand w--current"><img src="../assets/logo.png" width="69" alt="" /></a>
    <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar"
      class="w-commerce-commercecartwrapper cart">
      <a href="#" data-node-type="commerce-cart-open-link"
        class="w-commerce-commercecartopenlink cart-button w-inline-block" role="button" aria-haspopup="dialog"
        aria-label="Open cart"><img src="../assets/65f202b72b932a162dcf0282_cart.png" width="22" alt="" class="cart-icon" />
        <div style="display: none" data-count-hide-rule="empty"
          class="w-commerce-commercecartopenlinkcount cart-quantity">
          0
        </div>
        
      </a>
      
      <div data-node-type="commerce-cart-container-wrapper" style="display: none"
        class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
        <div data-node-type="commerce-cart-container" role="dialog" class="w-commerce-commercecartcontainer">
          <div class="w-commerce-commercecartheader">
            <h4 class="w-commerce-commercecartheading">Your Cart</h4>
            <a href="#" data-node-type="commerce-cart-close-link"
              class="w-commerce-commercecartcloselink w-inline-block" role="button" aria-label="Close cart"><svg
                width="16px" height="16px" viewBox="0 0 16 16">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <!--  -->
  
                </g>
              </svg></a>
          </div>
          <div class="w-commerce-commercecartformwrapper">
            <form data-node-type="commerce-cart-form" style="display: none" class="w-commerce-commercecartform">
              <script type="text/x-wf-template" id="wf-template-d234effa-1690-9647-3498-80b0e6beedfc">
                </script>
              <div class="w-commerce-commercecartlist">
                <div class="w-commerce-commercecartitem">
                  <img src="" alt="" class="w-commerce-commercecartitemimage w-dyn-bind-empty" />
                  <div class="w-commerce-commercecartiteminfo">
                    <div class="w-commerce-commercecartproductname product-title w-dyn-bind-empty"></div>
                    <div class="top-border _5">
                      <div class="price">
                        $0.00
                      </div>
                    </div>
                    <a href="#" role="" class="remove-button w-inline-block">
                      <div>Remove</div>
                    </a>
                    <script type="text/x-wf-template" id="wf-template-1615f893-0bfa-f222-4733-f8f00f208cea">
                                                </script>
                    <ul class="w-commerce-commercecartoptionlist">
                      <li>
                        <span></span><span></span>
                      </li>
                    </ul>
                  </div>
                  <input class="w-commerce-commercecartquantity cart-quantity-2" required="" pattern="^[0-9]+$"
                    inputmode="numeric" type="number" name="quantity" autocomplete="off"
                    data-wf-cart-action="update-item-quantity" data-commerce-sku-id="" value="1" />
                </div>
              </div>
              <div class="w-commerce-commercecartfooter">
                <div aria-live="" aria-atomic="false" class="w-commerce-commercecartlineitem">
                  <div>Subtotal</div>
                  <div class="w-commerce-commercecartordervalue price"></div>
                </div>
                <div>
                  <div data-node-type="commerce-cart-quick-checkout-actions" style="display: none">
                    <a role="button" tabindex="0" aria-haspopup="dialog" aria-label="Apple Pay"
                      data-node-type="commerce-cart-apple-pay-button" style="
                          background-image: -webkit-named-image(
                            apple-pay-logo-white
                          );
                          background-size: 100% 50%;
                          background-position: 50% 50%;
                          background-repeat: no-repeat;
                        " class="w-commerce-commercecartapplepaybutton" tabindex="0">
                      <div></div>
                    </a><a role="button" tabindex="0" aria-haspopup="dialog"
                      data-node-type="commerce-cart-quick-checkout-button" style="display: none"
                      class="w-commerce-commercecartquickcheckoutbutton"><svg
                        class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                      </svg>
                      <div>Pay with browser</div>
                    </a>
                  </div>
                  <div
                    data-wf-paypal-button='{"layout":"horizontal","color":"black","shape":"rect","label":"pay","tagline":false,"note":false}'>
                  </div>
                  <a href="checkout.html" value="Continue to Checkout" data-node-type="cart-checkout-button"
                    class="w-commerce-commercecartcheckoutbutton checkout-button w-inline-block"
                    data-loading-text="Hang Tight...">Continue to Checkout</a>
                </div>
              </div>
            </form>
            <div class="w-commerce-commercecartemptystate">
              <div>No items found.</div>
            </div>
            <div aria-live="" style="display: none" data-node-type="commerce-cart-error"
              class="w-commerce-commercecarterrorstate error-state">
              <div class="w-cart-error-msg">
                Product is not available in this quantity.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <nav role="navigation" class="nav-menu-2 w-nav-menu">
      <a routerLink="dashboard" aria-current="page" class="nav-link w-nav-link w--current">Home</a><a routerLink="product"
        class="nav-link w-nav-link">Products</a> <a (click)="logout()" class="nav-link w-nav-link">Log out</a>

    </nav>
    <div class="menu-button w-nav-button">
      <div class="icon w-icon-nav-menu"></div>
    </div>
  </div>
  
  </div>
  
  
  <router-outlet></router-outlet>
  
    <div *ngIf="!isLoginPage() && !issignupPage()" class="footer-section">
      <div class="perks">
        <div class="content-wrapper w-container">
          <div class="flex-center">
            <div class="perk">
              <div class="perk-icon _1"></div>
              <div class="flex-vertical">
                <div class="text-title">Safe shopping</div>
                <div>
                  <p class="text-white">Buy with confidence</p>
                </div>
              </div>
            </div>
            <div class="perk">
              <div class="perk-icon _2"></div>
              <div class="flex-vertical">
                <div class="text-title">Fast shipping</div>
                <div>
                  <p class="text-white">Get your product fast</p>
                </div>
              </div>
            </div>
            <div class="perk tablet-none">
              <div class="perk-icon _3"></div>
              <div class="flex-vertical">
                <div class="text-title">Satisfaction guarantee</div>
                <div>
                  <p class="text-white">Or get your money back</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="content-wrapper w-container">
          <div class="flex-space">
            <div class="_90-column">
              <a routerLink="dashboard" aria-current="page" class="footer-brand w-inline-block w--current"><img src="../assets/logo.png"
                  width="84" alt="" /></a>
              <div class="footer-links">
                <a routerLink="dashboard" aria-current="page" class="footer-link w--current">Home</a><a routerLink="product"
                  class="footer-link">Products</a> <a routerLink="clothes" aria-current="page"
                  class="footer-link w--current">Category</a>
              </div>
            </div>
            <div class="social-icons">
              <a href="#" target="_blank" class="social-icon facebook w-inline-block"></a><a href="#" target="_blank"
                class="social-icon instagram w-inline-block"></a><a href="#" target="_blank"
                class="social-icon twitter w-inline-block"></a>
            </div>
          </div>
          <div class="footer-notice">
            <div class="footer-notice-box"></div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  
  
  </main>
  