<div class="inner-hero">
    <div class="content-wrapper w-container">
      <h1 class="h1-white">Products<br /></h1>
    </div>
  </div>
  <div class="content-section">
    <div class="w-container">
      <div class="w-dyn-list">
        <div role="list" class="flex-grid w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 1]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p1.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f20f3bd05c396e09d4dd91_p1-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f20f3bd05c396e09d4dd91_p1.png       573w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 1]" class="link">Dress 1</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 1]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 2]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p2.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f20fba78561e518e099ece_p2-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f20fba78561e518e099ece_p2.png       607w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 2]" class="link">Dress 2</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 2]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 3]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p3.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f210084b9de66e052a9a52_p3-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f210084b9de66e052a9a52_p3-p-800.png 800w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f210084b9de66e052a9a52_p3.png       805w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 3]" class="link">Dress 3</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 3]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 4]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p4.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f21063e2dcce3771d00f62_p4-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f21063e2dcce3771d00f62_p4.png       778w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 4]" class="link">Dress 4</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 4]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 5]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p4.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f21063e2dcce3771d00f62_p4-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f21063e2dcce3771d00f62_p4.png       778w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 5]" class="link">Dress 5</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 5]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
          <div role="listitem" class="collection-item w-dyn-item">
            <a [routerLink]="['/dress', 6]" class="relative w-inline-block"
              ><img
                alt=""
                src="../../assets/p6.png"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 29vw, 291.3999938964844px"
                srcset="
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f211055ca32d2094108b68_p6-p-500.png 500w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f211055ca32d2094108b68_p6-p-800.png 800w,
                  https://assets-global.website-files.com/65f202b72b932a162dcf0278/65f211055ca32d2094108b68_p6.png       808w
                "
                class="image-hover"
            /></a>
            <div class="products-details">
              <a [routerLink]="['/dress', 6]" class="link">Dress 6</a>
              <div>
                <a
                 
                  [routerLink]="['/dress', 6]"
                  class="price"
                  >₹ 19.99 INR</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>